@{
    ViewBag.Title = "Personal Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karakalpakstan<br />
    Xodjeyli region, Kamishshali 80<br />
    <abbr title="Phone">P:</abbr>
    (+998)91 381 35 05
</address>

<address>
    <i class="fa fa-mail-bulk" style="font-size: 20px; color: #0C7FB9"></i> <strong>Email:</strong>   <a href="mailto:ismoilov3600@gmail.com">  ismoilov3600@gmail.com</a><br />
    <i class="fab fa-telegram" style="font-size: 20px; color: #0C7FB9"></i> <strong>Telegram:</strong>     @@Ismaylov_Inomjon <br />
</address>